 @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
body {
    font-family: 'Roboto', sans-serif;
}
.dxbs-sc-toolbar .btn {
    white-space: nowrap;
}
.dbt-card-view > .card {
   border: 0;
   border-radius: inherit;
}
.dbt-card-view > .card > .card-body {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.dbt-card-view .page-link,
.dbt-card-view .form-control-plaintext,
.dbt-card-view .page-item.disabled .page-link {
    color: inherit;
}
.dbt-card-view .page-item.disabled .page-link {
    opacity: 0.3;
}
.dbt-card-view .page-item.active .page-link {
    background-color: rgba(0, 0, 0, 0.3);
}
.dbt-card-view-item {
    border: 0;
    box-shadow: none;
}
.dbt-card-view-item .font-weight-light {
    opacity: 0.6;
}
.dbt-card-view-item .card-body {
    padding-left: 0;
    padding-right: 0;
}
.dbt-card-view-item .dbt-icon {
    font-size: 3rem;
    line-height: 3rem;
}
.dbt-content {
    min-width: 0;
}
.dbt-content-title {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    height: 3rem;
}
.dbt-pcontent-title {
    font-size: 1.2rem;
    padding-top: 0.3rem;
    height: 2.2rem;
}
.dbt-widget-tab-control {
    padding-top: 0;
}
.dbt-widget-tab-control.rotated-180 > ul.nav-tabs > li,
.dbt-widget-tab-control.rotated-180 > ul.nav-tabs > li > a > * {
    transform: rotateX(180deg);
}
.dbt-widget-tab-control > ul.nav-tabs,
.dbt-widget-tab-control > ul.nav-tabs > li {
    margin-bottom: 0;
}
.dbt-widget-tab-control > ul.nav-tabs > li > a > span {
    display: inline-block;
}
.dbt-widget-tab-control a.nav-link.active {
    background-color: transparent;
}

.dbt-tab-container .dbt-tab-card .card {
    box-shadow: none;
    border: none;
    background-color: transparent;
    border-radius: 0;
}
.dbt-tab-container .dbt-tab-card.card {
    border: none;
}
/*dashboard - tabcontrols*/
@keyframes appearRTL {
    0% {
        transform: translateX(0%);
        visibility: hidden;
    }
    100% {
        transform: translateX(-100%);
        visibility: visible;
    }
}
@keyframes dissapearLTR {
    0% {
        transform: translateX(-100%);
        visibility: visible;
    }
    100% {
        transform: translateX(0%);
        visibility: hidden;
    }
}
@keyframes appearLTR {
    0% {
        transform: translateX(-100%);
        visibility: hidden;
    }

    100% {
        transform: translateX(0%);
        visibility: visible;
    }
}

@keyframes dissapearRTL {
    0% {
        transform: translateX(0%);
        visibility: visible;
    }
    100% {
        transform: translateX(-100%);
        visibility: hidden;
    }
}
.dbt-tab-1,
.dbt-tab-2 {
    animation-fill-mode: both;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    display: flex;
    min-width: 0;
}
.dbt-tab-1 > div,
.dbt-tab-2 > div {
    flex: 1 1 auto;
    min-width: 0;
}
.dbt-widget-tab-control {
    display: none;
}
/*filtering*/
.dbt-row-filtering .dxbs-gridview > .card {
    border: 0;
}
@media (max-width: 991px) {
    .dbt-row-filtering .dbt-tab-2 {
        margin-right: -100%;
        visibility: hidden;
    }
    .dbt-row-filtering.dbt-tab-container {
        overflow: hidden;
    }
    .dbt-row-filtering .dbt-widget-tab-control {
        display: flex;
    }
    .dbt-row-filtering.dbt-tab-state-0-1 .dbt-tab-2 {
        animation-name: appearRTL;
    }
    .dbt-row-filtering.dbt-tab-state-1-0 .dbt-tab-2 {
        animation-name: dissapearLTR;
    }
    .dbt-row-filtering.dbt-tab-state-0-1 .dbt-tab-1 {
        animation-name: dissapearRTL;
    }
    .dbt-row-filtering.dbt-tab-state-1-0 .dbt-tab-1 {
        animation-name: appearLTR;
    }
    .dbt-row-filtering .dbt-tab-card {
        box-shadow: none;
        border: none;
        background-color: transparent;
        border-radius: 0;
    }
}
@media (min-width: 992px) {
    .dbt-row-filtering.card {
        box-shadow: none;
        border: none;
        background-color: transparent;
    }
}
/*calendar*/
.dbt-widget-area div.dxbs-calendar {
    border: none !important;
}
.dbt-calendar-weekend,
.dbt-calendar-day-header {
    color: inherit !important;
}
.dbt-calendar-day-header {
    opacity: 0.7;
}
@media(max-width: 767px) {
    .dbt-row-calendar .dbt-tab-2 {
        margin-right: -100%;
        visibility: hidden;
    }
    .dbt-row-calendar.dbt-tab-container {
        overflow: hidden;
    }
    .dbt-row-calendar .dbt-widget-tab-control {
        display: flex;
    }
    .dbt-row-calendar.dbt-tab-state-0-1 .dbt-tab-2 {
        animation-name: appearRTL;
    }
    .dbt-row-calendar.dbt-tab-state-1-0 .dbt-tab-2 {
        animation-name: dissapearLTR;
    }
    .dbt-row-calendar.dbt-tab-state-0-1 .dbt-tab-1 {
        animation-name: dissapearRTL;
    }
    .dbt-row-calendar.dbt-tab-state-1-0 .dbt-tab-1 {
        animation-name: appearLTR;
    }
    .dbt-row-calendar .dbt-tab-card {
        box-shadow: none;
        border: none;
        background-color: transparent;
        border-radius: 0;
    }
}
@media(min-width: 768px) {
    .dbt-row-calendar.card {
        box-shadow: none;
        border: none;
        background-color: transparent;
    }
}
/*header*/
.dbt-header-separator {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5rem;
    z-index: 4;
}
.dbt-header-part {
    z-index: 5;
    min-height: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
}
.dbt-header-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 1.5rem;
}
.dbt-header-title > div {
    margin-top: -2px;
}
.dbt-header-title .dbt-icon-logo {
    margin-right: 1rem;
    font-size: 3rem;
    height: 100%;
    line-height: 100%;
    top: 2px;
    position: relative;
}
.dbt-header-title a {
    text-decoration: none;
    white-space: nowrap;
    color: inherit;
}
.dbt-header-title h4 {
    opacity: .78;
    line-height: 1.1;
    font-weight: 400;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
}
.dbt-header-title h3 {
    line-height: 1.1;
    font-weight: bold;
    font-size: 1.9rem;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 0.2rem;
}
.dbt-header-toolbar .dbt-icon {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 1px;
}
.dbt-header-toolbar .btn {
    white-space: nowrap;
    flex: 0 0 auto;
    clip-path: none !important;
}
.dbt-header-toolbar .btn:not(.no-icon) {
    height: 3rem;
    width: 3rem;
    justify-content: space-around;
    align-self: center;
}
.dbt-header-toolbar .dxbs-toolbar-custom {
    margin-right: auto;
}
.dbt-header-search .form-control {
    font-size: 0.9em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    min-width: 200px;
    background-color: inherit;
    color: inherit;
}
.dbt-header-search .form-control:not(:focus) {
    border-bottom-color: transparent;
}
.dbt-header-user-info,
.dbt-header-user-info img {
    height: 3rem;
    border-radius: 1.5rem !important;
}
.dbt-header-user-info img {
    padding: 0.5rem;
    width: 3rem;
}
.dbt-header-user-info.btn.dropdown-toggle {
    padding: 0 1.25rem 0 0;
}
.dbt-header-toolbar .show-navigation {
    margin-right: auto;
}
.dbt-header-toolbar .dbt-item-wb {
    position: relative;
}
.dbt-header-toolbar .dbt-badge-floating {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    transform: translateX(25%) translateY(-25%);
    min-width: 1rem;
    height: 1rem;
    border-radius: 1rem;
}
.dbt-header-toolbar .dbt-badge-floating span {
    margin: 0;
}
/*dbt-side-navigation*/
.dbt-side-part {
    flex-flow: column nowrap;
}
.dbt-try-now-link {
    padding: 1rem 3.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    text-transform: uppercase;
    margin: 1rem 1.5rem 2rem;
    line-height: 1rem;
    justify-content: center;
}
.dbt-treeview {
    display: flex;
}
.dbt-treeview-node .dbt-icon {
    font-size: 0.75rem;
    line-height: 0.75rem;
    order: 1;
    margin: 0;
}
.dbt-treeview-nodes {
    display: flex;
    flex: 1;
}
.dbt-treeview .dbt-treeview-node .nav-link {
    border-radius: 0;
    display: flex;
    padding: 0.75rem 1.5rem;
    justify-content: flex-end;
}
.dbt-treeview .dbt-treeview-node .nav-link:not(.active):hover {
    background-color: #ebebeb;
}
.dbt-treeview .dbt-treeview-node .nav-link span:not(.dbt-icon) {
    min-width: 10rem;
    text-align: left;
}
.dbt-treeview-nodes .dbt-treeview-nodes .dbt-treeview-node .nav-link:not(.active) span {
    opacity: 0.6;
}
.dbt-side-nav.dbt-side-nav-hidden {
    display: none !important;
}
.dbt-side-nav > div {
    transition: transform 0.5s ease;
    will-change: transform;
}
@media (max-width: 991px) {
    .dbt-side-nav > div {
        transform: translateX(-100%);
    }
    .dbt-side-nav.dbt-side-nav-shown > div {
        transform: translateX(0%);
    }
    .dbt-side-nav.dbt-side-nav-shown {
        position: fixed;
        display: flex !important;
        z-index: 1000;
        align-items: flex-start;
    }
    .dbt-side-nav.dbt-side-nav-shown:before {
        content: " ";
        background-color: #000;
        opacity: 0.3;
        position: absolute;
        z-index: -1;
    }
    .dbt-side-nav.dbt-side-nav-shown,
    .dbt-side-nav.dbt-side-nav-shown:before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
/*hacks*/
.dxbs-content {
    flex-wrap: nowrap;
}
.dbt-header-toolbar > .btn-toolbar > div {
    flex: 1 1 auto;
}
.dbt-header-toolbar > .btn-toolbar > .dxbs-ta-ag {
    display: none;
}
.dxc-chart text,
.dxc-tooltip text,
.dxc-chart .dxc-title > text {
    fill: currentColor;
}
/*header toolbar*/
.dbt-header-toolbar-settings.dropdown-toggle:after {
    display: none;
}
.dbt-header-toolbar-settings > span {
    margin: 0;
}

.dbt-icon-light-theme,
.dbt-icon-dark-theme {
    display: inline-flex;
}
.dbt-icon-light-theme:before,
.dbt-icon-light-theme:after,
.dbt-icon-dark-theme:before,
.dbt-icon-dark-theme:after {
    content: " ";
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.1rem rgba(0,0,0,.3);
    margin-right: 0.1rem;
    background-color: #ffffff;
}
.dbt-icon-dark-theme:before {
    background-color: #000000;
}
.dbt-icon-light-theme:after,
.dbt-icon-dark-theme:after {
    background-color: #9a1de1;
}
.theme-light .dbt-area-highlight {
    background-color: white;
}
.theme-dark .dbt-area-highlight {
    background-color: #161519;
}
.theme-dark .dbt-content .dbt-area-highlight {
    background-color: inherit;
}
.theme-dark .dbt-treeview .dbt-treeview-node .nav-link:not(.active):hover {
    color: #161519;
}
button.dbt-btn-custom-state.btn.btn-outline-secondary {
    background-color: transparent !important;
    color: inherit !important;
    position: relative;
    border: none !important;
}
button.dbt-btn-custom-state.btn.btn-outline-secondary:before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
}
.dbt-loading-process .dbt-btn-custom-state:before {
    display: none;
}
button.dbt-btn-custom-state.btn.btn-outline-secondary.active-underline {
    box-shadow: none !important;
}
.dbt-btn-custom-state.active-underline:before {
    height: 3px;
    bottom: 0;
}
.dbt-btn-custom-state.active-underline:hover:before,
.dbt-btn-custom-state.active-underline:focus:before {
    background-color: currentColor;
    opacity: 0.1;
}
.dbt-btn-custom-state.active-underline.active:before,
.dbt-btn-custom-state.active-underline.active:hover:before {
    background-color: #9a1de1;
    opacity: 1;
}
.dbt-btn-custom-state.active-highlight:before {
    top: 0;
    background-color: currentColor;
    opacity: 0;
    height: 100%;
    border-radius: inherit;
}
.theme-dark .dbt-btn-custom-state.active-highlight.idle-highlight:not(:hover):not(.active):before {
    opacity: 0.05;
}
.show > .dbt-btn-custom-state.active-highlight:before,
.dbt-btn-custom-state.active-highlight:focus:before,
.dbt-btn-custom-state.active-highlight:hover:before {
    opacity: 0.1;
}
.dbt-btn-custom-state.active-highlight.active:before {
    opacity: 0.2;
}
.dbt-btn-custom-state.active-highlight.active:hover:before {
    opacity: 0.3;
}
.dbt-calendar-today.dbt-calendar-selected {
    position: relative;
    z-index: 1;
}
/*scheduler*/
.dbt-scheduler-area {
    display: flex;
    overflow: auto;
    flex-flow: column nowrap;
    height: 100%;
    max-height: 100vh;
}
.dbt-scheduler-area .dbt-tab-container {
    display: flex;
    flex-flow: column nowrap;
    height: calc(100% - 5rem);
}
.dbt-scheduler-area .dbt-tab-container > .row:first-child {
    flex: 1 1 auto;
}
.dbt-scheduler-area .dbt-tab-container > .row:last-child {
    flex: 0 0 auto;
    order: -1;
}
.dbt-scheduler-area .dbt-tab-1,
.dbt-scheduler-area .dbt-tab-2,
.dbt-scheduler-area .dbt-tab-1 > div,
.dbt-scheduler-area .dbt-tab-2 > div {
    height: 100%;
}
.dbt-scheduler-area .dxbs-scheduler > div {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
}
.dbt-scheduler-area .dxbs-scheduler > div:last-child {
    flex: 1 1 auto;
    overflow: auto;
}
.dbt-scheduler-area .dxbs-scheduler > div:last-child > .position-relative {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
}
.dbt-scheduler-area .dxbs-scheduler > div:last-child > .position-relative > table,
.dbt-scheduler-area .dxbs-scheduler > div:last-child > .position-relative > table > tbody > tr:last-child > td,
.dbt-scheduler-area .dxbs-scheduler > div:last-child > .position-relative > table > tbody > tr:last-child > td > div {
    height: 100%;
}
.dbt-scheduler-area .dxsc-rightTopCornerSys {
    width: 1px;
    overflow: scroll;
    visibility: hidden;
    display: table-cell;
}
.dbt-scheduler-area .dbt-resources-list {
    overflow: visible !important;
}
.dbt-toast-container {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1200;
}
.dbt-toast-container,
.dbt-toast-container .toast {
    transition: opacity ease 0.3s, transform ease 0.3s, margin ease 0.3s;
    will-change: opacity;
}
.dbt-toast-container:empty {
    opacity: 0;
}
.dbt-toast-container .toast {
    margin: 1rem;
    height: 4rem;
    color: #ffffff;
    background-color: rgba(0,0,0,0.85);
}
.dbt-toast-container .toast:not(.show):not(.removing) {
    margin-bottom: -4rem;
}
.dbt-toast-container .toast.removing {
    transform: translateY(-100%) translateX(100%) scaleX(0.5) scaleY(0.5);
    opacity: 0;
}
.dbt-toast-container .toast + .toast {
    margin-top: 0;
}
.dbt-toast-container .toast-body span {
    text-transform: uppercase;
    font-weight: 500;
}
.dbt-toast-container .toast-body span:before,
.dbt-toast-container .toast-body span:after {
    content: '"';
}
.dbt-toast-container .toast-header {
    border: 0;
    background-color: transparent;
    color: inherit;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem
}
.dbt-toast-container .toast-header button.close {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    opacity: 1;
    border-radius: 0.5em;
    background-color: #ff0000;
    color: #ffffff;
}
.dbt-toast-container .toast-body {
    padding: 0rem 0.75rem 0.5rem 0.75rem;
    font-size: 0.9em;
}

.dbt-theme-switching,
.dbt-loading-process .dbt-widget-area {
    overflow: hidden;
    position: relative;
    box-shadow: none;
}
.dbt-loading-process .dbt-widget-area:before {
    content: " ";
    background-color: inherit;
    border-radius: inherit;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
}
.dbt-theme-switching:before {
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1300;
    background-color: white;
}
@keyframes dbt-rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.dbt-theme-switching:after {
    content: " ";
    position: fixed;
    z-index: 1301;
    width: 4rem;
    height: 4rem;
    left: calc(50% - 2rem);
    top: calc(50% - 2rem);
    border-radius: 2rem;
    border: 0.25rem solid #9a1de1;
    border-bottom-color: transparent;
    animation: dbt-rotation 2s linear infinite;
}
.theme-dark.dbt-theme-switching:before {
    background-color: #2e2d33;
}
.theme-light .dbt-header-toolbar .dropdown-item.checked {
    background-color: rgba(0,0,0,.1);
}
.theme-light .dbt-header-toolbar .dropdown-item.checked:hover {
    background-color: rgba(0,0,0,.2);
}
.theme-dark .dbt-header-toolbar .dropdown-item.checked {
    background-color: rgba(255,255,255,.1);
}
.theme-dark .dbt-header-toolbar .dropdown-item.checked:hover {
    background-color: rgba(255,255,255,.2);
}
.dbt-header-toolbar .dropdown-item .dxbs-check {
    margin-right: -1rem;
}
.dbt-header-toolbar .dropdown-header {
    font-size: 1em;
    color: inherit;
}
.dbt-gridview > .card > .card-body:last-child {
    padding: 0.5rem 1.25rem;
}
.dbt-content .card-header,
.dbt-content .dxbs-calendar .calendar-view > .card-header {
    background-color: transparent;
}
.dbt-content .dxbs-calendar .calendar-view > .card-header {
    padding: 0.5rem 0;
}
