@font-face {
    font-family: dbt-icons;
    src: url('dbt-icons.eot');
    src: url('dbt-icons.eot?#iefix') format('eot'),
    url('dbt-icons.woff2') format('woff2'),
    url('dbt-icons.woff') format('woff'),
    url('dbt-icons.ttf') format('truetype'),
    url('dbt-icons.svg') format('svg');
}
.dbt-icon {
    text-rendering: auto;
    font-family: "dbt-icons" !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1rem;
    font-size: 1rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
/*원형 위쪽 화살표*/
.dbt-icon-1::before {
    content: "\e001";
}
/*원형 아래쪽 화살표*/
.dbt-icon-2::before {
    content: "\e002";
}
/*원형 이콜(=)*/
.dbt-icon-3::before {
    content: "\e003";
}
/*종(벨)*/
.dbt-icon-alert::before {
    content: "\e004";
}
/*위 화살표*/
.dbt-icon-col::before {
    content: "\e005";
}
/*쓰레기통*/
.dbt-icon-del::before {
    content: "\e006";
}
/*쓰기*/
.dbt-icon-edit::before {
    content: "\e007";
}
/*아래 화살표*/
.dbt-icon-ex::before {
    content: "\e008";
}
/*다운로드*/
.dbt-icon-export::before {
    content: "\e009";
}
/*복잡설정*/
.dbt-icon-filter::before {
    content: "\e00a";
}
/*왼쪽 화살표*/
.dbt-icon-left::before {
    content: "\e00b";
}
/*로고*/
.dbt-icon-logo::before {
    content: "\e00c";
}
/*네모오른쪽화살표*/
.dbt-icon-logout::before {
    content: "\e00d";
}
/*이메일*/
.dbt-icon-mail::before {
    content: "\e00e";
}
/*메뉴바*/
.dbt-icon-menu::before {
    content: "\e00f";
}
/*더하기(추가)*/
.dbt-icon-new::before {
    content: "\e010";
}
/*오른쪽 화살표*/
.dbt-icon-right::before {
    content: "\e011";
}
/*돋보기*/
.dbt-icon-search-menu::before {
    content: "\e012";
}
/*돋보기*/
.dbt-icon-search-toolbar::before {
    content: "\e013";
}
/*설정*/
.dbt-icon-settings::before {
    content: "\e014";
}
/*달력*/
.dbt-icon-today::before {
    content: "\e015";
}
/*사람*/
.dbt-icon-user::before {
    content: "\e016";
}
